<!doctype html>
<html>
  <body>
    <main>

    </main>
    <input type="button" value="fetch" onclick="
      /*
      fetch('html').then(function(response){
        response.text().then(function(text){
          document.querySelector('main').innerHTML = text;
        })
      })

                       onclick = "fetch('aboutMe/').then(function(response){
                       response.text().then(function(text){
                       document.querySelector('section').innerHTML = text;
                       })})"
      */
      //Asynchronous
      fetch('html').then(function(response){
        response.text().then(function(text){
          document.querySelector('article').innerHTML = text;
        })
      });
    ">
  </body>
</html>