.container{
    display: flex;
    flex-direction: column;
}
header{
    border-bottom:1px solid gray;
    padding-left:20px;
    text-align: center;
    font-family: Times New Roman;
}
footer{
    border-top:1px solid gray;
    padding:20px;
    text-align: center;
}
.content{
    display:flex;
}
.content nav{
    border-right:1px solid gray;
}
.content aside{
    border-left:1px solid gray;
}
nav, aside{
    flex-basis: 150px;
    flex-shrink: 0;
}
main{
    padding:10px;
}
.topnav {
    border-bottom:1px solid gray;
    overflow: hidden;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
#topMenu{
    position: auto;
}